<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/missingpet.css"/>
</head>
<body>

<div layout:fragment="content">
    <form action="#" th:action="@{/addmissingpet}" th:object="${petEntity}" method="post">
        <div class="row">
            <div class="col-25">
                <label for="name">Name</label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
                <span class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="missingSince">Missing Since</label>
            </div>
            <div class="col-75">
                <input type="datetime-local" th:field="*{missingSince}" id="missingSince" placeholder="missingSince">
                <span class="alert alert-warning" th:if="${#fields.hasErrors('missingSince')}" th:errors="*{missingSince}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="petType">Pet Type</label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{petTypeEntity.type}" id="petType" placeholder="Pet Type">
                <span class="alert alert-warning" th:if="${#fields.hasErrors('petTypeEntity.type')}" th:errors="*{petTypeEntity.type}"></span>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Add Missing Pets">
        </div>
    </form>
</div>

</body>
</html>